.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid rgba(0,0,0, 0.2);
    border-top-color: rgb(70,70,70);
    animation: spin 1s infinite linear;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.nft_image {
    position: relative;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }